<div id="scrolly-5">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
           <div id='map-container'></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                     <span class='blob-headline'>Before lockdown</span>
                    <p>Like Sale and Ealing, Kendal’s mix of shops points to a local community that relies on the high street. Health and beauty, cafes and clothing shops were the most popular outlets before lockdown</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <span class='blob-headline'>Lockdown: 17% open</span>
                    <p>When lockdown hit, over 300 shops closed, leaving just 68 open - mostly catering for health, food and medicine</p>
                </div>
            </div>
             <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <span class='blob-headline'>After lockdown: 87% open</span>
                    <p>After lockdown, 87% of shops were open in Kendal - much higher than St Ives’ rate. While both rely on tourism, Kendal has a greater diversity on the high street which has enabled it to bounce back more strongly</p>
                </div>
            </div>
        </div>
    </div>
</div>
