@import "scrolly";
@import "palette";
@import "enhancer";

.content__main-column--interactive .element-atom{
    margin-left: 0 !important;
}

.geo-map{background: #056DA1}

.building, .dock, .industrial, .military{fill:#1896D7;}
.grass, .park, .recreation_ground, .allotments, .forest, .cemetery, .farm, .meadow, .scrub, .nature_reserve, .heath{fill:#004E3A;}

.water{stroke:#00B2FF; fill:#161616;}

.service{fill:none;stroke:#161616;stroke-width:1px;}
.tertiary{fill:none;stroke:#161616;stroke-width:1px;}
.residential{fill:none;stroke:#161616;stroke-width:1px;}
.pedestrian{fill:none;stroke:#161616;stroke-width:1px;}
.trunk{fill:none;stroke:#161616;stroke-width:5px;}
.secondary{fill:none;stroke:#161616;stroke-width:1px;}
.primary{fill:none;stroke:#161616;stroke-width:3px;}
.trunk_link{fill:none;stroke:#161616;stroke-width:5px;}
.motorway_link{fill:none;stroke:#161616;stroke-width:5px;}
.track{fill:none;stroke:#161616;stroke-width:1px;}
.tertiary_link{fill:none;stroke:#161616;stroke-width:1px;}
.living_street{fill:none;stroke:#161616;stroke-width:1px;}
.path{fill:none;stroke:#161616;stroke-width:1px;}
.steps{fill:none;stroke:#161616;stroke-width:1px;}
.footway{fill:none;stroke:#161616;stroke-width:1px;}
.cycleway{fill:none;stroke:#161616;stroke-width:1px;}
.unknown{fill:none;stroke:#161616;stroke-width:1px;}
.motorway{fill:none;stroke:#161616;stroke-width:5px;}
.primary_link{fill:none;stroke:#161616;stroke-width:1px;}
.secondary_link{fill:none;stroke:#161616;stroke-width:1px;}
.unclassified{fill:none;stroke:#161616;stroke-width:1px;}
.track_grade3{fill:none;stroke:#161616;stroke-width:1px;}
.retail, .commercial, .bridleway, .track_grade1, .track_grade2, .track_grade3, .track_grade4{fill:none;}


.Open{
    fill-opacity: 1;
    fill:#F5BE2C;
    stroke: #161616;
}

.Closed{
    fill:#ffffff;
    stroke: #ffffff;
    fill-opacity: 0.4;
    stroke-opacity:1;
}

.locator-fill{
    fill:#d6d6d6;
}

.locator-stroke{
    fill:none;
    stroke:#333;
    stroke-width:2px;
    stroke-linecap:round;
}

.locator-dot{
    fill:#c70000;
}

.locator-text{
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 500;
    paint-order: stroke;
    stroke-width: 3px;
    stroke: rgba(255, 255, 255, 0.85);
    stroke-linecap: round;
    stroke-linejoin: round;

}

.locator-line{
    fill:none;
    stroke:#fff;
    stroke-width:1px;
}


.map-text-top{
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 500;
    paint-order: stroke;
    stroke-width: 3px;
    stroke: rgba(255, 255, 255, 0.85);
    stroke-linecap: round;
    stroke-linejoin: round;
    text-anchor:middle;

}

.map-text-left{
    font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 500;
    paint-order: stroke;
    stroke-width: 3px;
    stroke: rgba(255, 255, 255, 0.85);
    stroke-linecap: round;
    stroke-linejoin: round;
    text-anchor:end;

}

.Res{fill:gray;}
.Bar{fill:red;}
.Oth{fill:blue;}
.Gro{fill:green;}
.Hou{fill:black;}
.Hea{fill:lightblue;}
.Fas{fill:yellow;}


.text-closed{
    padding: 2px;
    background-color: #056DA1;
    color: white;
}

.text-open{
    padding: 2px;
    background-color: #F5BE2C;
    color: white;
}


.blob-headline{
    font-size: 22px;
    font-weight: 900;
    margin:0;
    padding: 0!important;
}



