<div id="scrolly-2">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
           <div id='map-container'></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>All companies Nasdaq 100</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Winners and losers</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Winners and losers</p>
                </div>
            </div>
        </div>
    </div>
</div>
