<div id="scrolly-3">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
           <div id='map-container'></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <span class='blob-headline'>Before lockdown</span>
                    <p>The commuter area of Ealing has a similar spread of outlets as Sale, with health and beauty and restaurants being popular in the area</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <span class='blob-headline'>Lockdown: 22% open</span>
                    <p>During lockdown, 22% of its outlets remained open. This is mostly because of a high number of food shops and chemists</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <span class='blob-headline'>After lockdown: 88% open</span>
                    <p>But once non-essential retail opened, the area enjoyed a reopening rate of 88%. 69 health and beauty shops opened alone, the most common outlet on the high street</p>
                </div>
            </div>
        </div>
    </div>
</div>
