<div id="scrolly-3">
    <div class="scroll-wrapper">
        <div class="scroll-inner">
           <div id='map-container'></div>
        </div>
        <div class="scroll-text">
            <div class="scroll-text__inner">
                <div class="scroll-text__div">
                    <p>Pre lockdown</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Lockdown</p>
                </div>
            </div>
            <div class="scroll-text__inner">
                <div class="scroll-text__div"> 
                    <p>Post lockdown</p>
                </div>
            </div>
        </div>
    </div>
</div>
